<h1>Stupid Coaching</h1>

<p><%= params[:question] %></p>
<p><em>- You</em></p>

<div class = answer-banner>
<p><%= @answer %></p>
<p><em>- Your Coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
