// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
}

.answer-banner {
  background-color: #ffff9e;
}

a {
  color: blue;
  &:hover {
    color: red;
  }
}
